doctype html
html
    head
        link(href='https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css', rel='stylesheet')
        link(href='css/main.css', rel='stylesheet')
        script(src='js/vendor/angular.min.js')
        script(src='https://code.angularjs.org/1.2.28/angular-route.min.js')
    body(ng-app='CalendarApp')
        .header
            .container
                img(src='img/logo.svg', width='51', height='54')
        .main
            .container
                div(ng-view)
        // Modules
        script(src='js/app.js')
        // Controllers
        script(src='js/controllers/DayController.js')
        script(src='js/controllers/EventController.js')
        // Services
        script(src='js/services/events.js')
